Source code.txt


[{"id":"c9fa3dde.e7f4c","type":"inject","z":"468113f5.b877cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":160,"wires":[["b3fd2483.4a3f68"]]},{"id":"a0e7d0f2.fdd4a","type":"debug","z":"468113f5.b877cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":500,"wires":[]},{"id":"b3fd2483.4a3f68","type":"openweathermap","z":"468113f5.b877cc","name":"Weather bot","wtype":"current","lon":"","lat":"","city":"San Antonio","country":"USA","language":"en","x":220,"y":259,"wires":[["6c2977aa.b01cb8"]]},{"id":"6c2977aa.b01cb8","type":"function","z":"468113f5.b877cc","name":"extract tweet","func":"\n\n\n//Passes message description of weather to the message payload\ntext = msg.payload.description;\n\nnmsg =\"\\This is an IOT bot tweet for Doreen /\"+ text;\n\n//node.send(nmsg);\n\nreturn msg;\n\n\n\n//Send message description out as a tweet \n\n\n","outputs":1,"noerr":0,"x":200,"y":360,"wires":[["a0e7d0f2.fdd4a","c00e0336.60391"]]},{"id":"c00e0336.60391","type":"twitter out","z":"468113f5.b877cc","twitter":"","name":"tweet","x":490,"y":360,"wires":[]}]