ICP 5/Change source code.txt
[{"id":"560176ec.10af08","type":"tab","label":"Change ","disabled":false,"info":""},{"id":"64a72fec.0de0e","type":"inject","z":"560176ec.10af08","name":"Hello","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":200,"wires":[["4416843a.048e7c"]]},{"id":"4416843a.048e7c","type":"change","z":"560176ec.10af08","name":"Change","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello Doreen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["a7ac5aec.78ef18"]]},{"id":"a7ac5aec.78ef18","type":"debug","z":"560176ec.10af08","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":200,"wires":[]}]