ICP 5/Http source code.txt
[{"id":"ba3c3bd0.ec8e08","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"2e18a7b2.7bd398","type":"template","z":"ba3c3bd0.ec8e08","name":"Payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":480,"y":220,"wires":[["dcda244e.7e0918"]]},{"id":"30246793.74b438","type":"http in","z":"ba3c3bd0.ec8e08","name":"","url":"/Dee","method":"get","upload":false,"swaggerDoc":"","x":290,"y":280,"wires":[["2e18a7b2.7bd398"]]},{"id":"dcda244e.7e0918","type":"http response","z":"ba3c3bd0.ec8e08","name":"","statusCode":"","headers":{},"x":680,"y":280,"wires":[]}]