ICP 5/Random number source code.txt
[{"id":"9d85b58a.e42218","type":"tab","label":"Switch","disabled":false,"info":""},{"id":"34e677f6.eb80c8","type":"inject","z":"9d85b58a.e42218","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":240,"wires":[["2ea65715.4ef778"]]},{"id":"2ea65715.4ef778","type":"function","z":"9d85b58a.e42218","name":"RandomNumberGenerator","func":"\nvar number = Math.floor(Math.random()*101);\n\nmsg.payload = number;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["5709e330.2b52ec","dde1693d.95df78"]]},{"id":"5709e330.2b52ec","type":"switch","z":"9d85b58a.e42218","name":"SwitchDemo","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"49","vt":"str"},{"t":"eq","v":"50","vt":"str"},{"t":"gt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":440,"y":520,"wires":[["b0019d21.9d84"],["d0f1a265.36792"],["6a7378b8.2cfe08"]]},{"id":"b0019d21.9d84","type":"debug","z":"9d85b58a.e42218","name":"Line1forlessthan49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":420,"wires":[],"inputLabels":["SwitchDemo"]},{"id":"d0f1a265.36792","type":"debug","z":"9d85b58a.e42218","name":"Line2for50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":500,"wires":[]},{"id":"6a7378b8.2cfe08","type":"debug","z":"9d85b58a.e42218","name":"Line3forgreaterthan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":580,"wires":[]},{"id":"dde1693d.95df78","type":"debug","z":"9d85b58a.e42218","name":"NumberGenerated","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":340,"wires":[]}]