ICP 5/Range source code.txt
[{"id":"c302bbea.e9f978","type":"tab","label":"Range","disabled":false,"info":""},{"id":"b29eea2.44f3618","type":"inject","z":"c302bbea.e9f978","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["95992428.f34038"]]},{"id":"a0c4cd87.74209","type":"inject","z":"c302bbea.e9f978","name":"","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["95992428.f34038"]]},{"id":"91305a0b.11cfc8","type":"inject","z":"c302bbea.e9f978","name":"","topic":"","payload":"1024","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["95992428.f34038"]]},{"id":"95992428.f34038","type":"range","z":"c302bbea.e9f978","minin":"0","maxin":"1024","minout":"0","maxout":"5","action":"scale","round":true,"property":"payload","name":"0 - 5","x":400,"y":320,"wires":[["2eb76898.47e508"]]},{"id":"2eb76898.47e508","type":"debug","z":"c302bbea.e9f978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":340,"wires":[]}]