ICP 5/RBE source code.txt
[{"id":"2e728bb1.5dec54","type":"tab","label":"RBE Node","disabled":false,"info":""},{"id":"91d0dc6f.4c5bd","type":"debug","z":"2e728bb1.5dec54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":440,"wires":[]},{"id":"9f15789f.461208","type":"inject","z":"2e728bb1.5dec54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":260,"wires":[["e9b89f7c.f99b2"]]},{"id":"29a2ec58.a6f9a4","type":"rbe","z":"2e728bb1.5dec54","name":"RBE","func":"narrowbandEq","gap":"10","start":"","inout":"out","property":"payload","x":490,"y":440,"wires":[["91d0dc6f.4c5bd"]]},{"id":"e9b89f7c.f99b2","type":"function","z":"2e728bb1.5dec54","name":"RandomNumber","func":"\nvar number = Math.floor(Math.random() * 101);\n\nmsg.payload = number;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["29a2ec58.a6f9a4"]]}]